@import "tailwindcss";

@theme {
  --font-ringside-compressed: "Ringside Compressed", ui-sans-serif, system-ui, sans-serif;
  --font-ringside-narrow: "Ringside Narrow", ui-sans-serif, system-ui, sans-serif;

  --color-blue-1000: #2a8af6;
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;
}